@model SimpleApplication.Models.ConfigurationDefinition

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ConfigurationDefinition</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConfigurationType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConfigurationType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConfigurationDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConfigurationDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DefaultValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DefaultValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateUserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateUserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdateUserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdateUserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdateDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdateDateTime)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
