@model SimpleApplication.Models.ConfigurationDefinition

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ConfigurationDefinition</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConfigurationType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConfigurationType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConfigurationDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConfigurationDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DefaultValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DefaultValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateUserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateUserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdateUserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdateUserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdateDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdateDateTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
